header
      .container
        #branding
          h1 Ihaho Group
        nav
          ul
            li.current
              a(href="/") Home

            if user 
                a.nav__el.nav__el--logout.logout-btn Logout
                a(href="/me")
                    img.nav__user-img(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
                    span= user.name.split(' ')[0]
                    

            else 
                li
                a(href="/login") Login
                li
                a(href="/signup") Sign up