extends base

//- block append head
//-     link(rel='stylesheet' href='/css/pro.css')

mixin overviewBox(label, text, icon)
    .overview-box__detail
        svg.overview-box__icon
            use(xlink:href=`/img/icons.svg#icon-${icon}`)
        span.overview-box__label= label
        span.overview-box__text= text

mixin mainList(name, link)
    li: a(href=`/${link}`)= name

block content
    section
        .main-content
            .content-left
                h2 Ntumikira
                ul
                    //- +mainList('Gushyira ibintu', 'me')
                    li: a(href="/add") Gushyiraho ibintu
                    li: a(href="/me") Konte yanjye
                    //- input.search(type='text' name='Search Ntumikira' placeholder='Search')
                p(style="background-color: aquamarine;")
                    form.form-inline(action="/all" method="GET")
                        .form-group
                            input.search(type="text" name="search" placeholder="Ntumikira Search")
                            input.search-btn(type="submit" value="Search")
    
                    +mainList('Ntumikira', '#')

                .about-text-needed
                    p
                        strong Tel: 0788419642
                        p Turanga Amazu, Ibibanza Amacumbi, Inzuri, Amamodokoka Bikodeshwa Ibigurishwa ndetse n'ibiri mu cyamunara Twifashishije Interineti. duhamagare, twandikire niba ufite kimwe muribyo cyangwa ugikeneye...

            .content-center
                .center-one
                    //- .center-one-one Kigali City
                .center-two 
                    .center-left
                        h2 Cyamunara
                        if (main.class === 'Cyamunara')
                            .cyamunara
                                ul 
                                   +mainList('Amazu', 'amazu')
                                    +mainList('Ibibanza', 'ibibanza')
                                    +mainList('Imirima', 'imirima')
                                    +mainList('Inzuri', 'inzuri')
                                    +mainList('Amashyamba', 'amashyamba')
                                    +mainList('Imodoka', 'imodoka')
                                    +mainList('Moto', 'moto')
                                    +mainList('Ibindi bikoresho', 'ibikoresho') 
                        else 
                            .cyamunara 
                                ul 
                                    +mainList('Amazu', 'amazu')
                                    +mainList('Ibibanza', 'ibibanza')
                                    +mainList('Imirima', 'imirima')
                                    +mainList('Inzuri', 'inzuri')
                                    +mainList('Amashyamba', 'amashyamba')
                                    +mainList('Imodoka', 'imodoka')
                                    +mainList('Moto', 'moto')
                                    +mainList('Ibindi bikoresho', 'ibikoresho')
                        .gukodesha
                            h2 Gukodesha(rent)
                            ul 
                                +mainList('Apartment', 'apartment-gukodesha')
                                +mainList('Rooms', 'rooms-gukodesha')
                                +mainList('Imirima', 'imirima-gukodesha')
                                +mainList('Amashyamba', 'amashyamba-gukodesha')
                                +mainList('Imodoka', 'imodoka-gukodesha')
                                +mainList('Moto', 'moto-gukodesha')
                        .gukodesha
                            h2 Amashuri
                            ul 
                                +mainList('Inshuke', 'inshuke')
                                +mainList('Abanza', 'abanza')
                                +mainList('Ayisumbuye', 'ayisumbuye')
                                +mainList('Kaminuza', 'kaminuza')
                                +mainList('Ubumenyi ngiro', 'ubumenyi-ngiro')

                    .center-center
                        h2 Kwigurishiriza
                        .kugura
                            .kugura-part1
                                ul 
                                    +mainList('Amazu', 'amazu-kwigurishiriza')
                                    +mainList('Ibibanza', 'ibibanza-kwigurishiriza')
                                    +mainList('Imirima', 'imirima-kwigurishiriza')
                                    +mainList('Inzuri', 'inzuri-kwigurishiriza')
                                    +mainList('Amashyamba', 'amashyamba-kwigurishiriza')
                                    +mainList('Imodoka', 'imodoka-kwigurishiriza')
                                    +mainList('Moto', 'moto-kwigurishiriza')

                        h2 Imyidagaduro
                        .community
                            .community-left
                                ul 
                                    +mainList('Ubugeni', 'ubugeni')
                                    +mainList('Imikino', 'imikino')
                                    +mainList('Muzika', 'muzika')
                                    +mainList('Ibikinisho by\'Abana', 'ibikinisho-by-abana')

                        h2 Made in Rwanda
                        .community
                            .community-left
                                ul 
                                    +mainList('Artists', 'artists')
                                    +mainList('Imyambaro', 'imyambaro')
                                    +mainList('Ibikoresho', 'ibikoresho-rwanda')

                        h2 Amatangazo
                        .community
                            .community-left
                                ul 
                                    +mainList('Arangisha', 'arangisha')
                                    +mainList('Ahindura Izina', 'ahindura')
                                    +mainList('Amenyesha', 'amenyesha')

                    .center-right
                        .akazi
                            h2 Akazi(jobs)
                            ul 
                                +mainList('Kuranga Akazi', 'kuranga-akazi')
                                +mainList('Gusaba Akazi', 'gusaba-akazi')
                        .akazi
                            h2 Impuguke
                            ul 
                                +mainList('Gusaba Impuguke', 'gusaba-impuguke')
                                +mainList('Kumenyekanisha Impuguke', 'kumenyekanisha-impuguke')
                        .akazi 
                            h2 Iyobokamana
                            ul 
                                +mainList('Ibikorwa', 'ibikorwa')
                        .akazi
                            h2 Transport
                            ul 
                                +mainList('Amakamyo', 'amakamyo')
                                +mainList('Bus', 'bus-transport')
                                +mainList('Moto', 'moto-transport')
                                +mainList('Tax Voiture', 'tax-voiture')
                                +mainList('Fuso', 'fuso-transport')
                                +mainList('Daihatsu', 'daihatsu-transport')
                        .akazi
                            h2 Inkunga
                            ul 
                                +mainList('NGO', 'ngo')
                                +mainList('Abikorera', 'abikorera')
                                +mainList('Ibigo bya Leta', 'ibigo-bya-leta')
                                +mainList('Amabanki', 'amabanki')
                        .akazi
                            h2 isoko
                            ul 
                                +mainList('Ubuconco', 'ubuconco')
                                +mainList('Ibiribwa', 'ibiribwa')
                                +mainList('Amatungo', 'amatungo')

            .content-right
                .left-list-language
                    select.language-list
                        option english
                ul.left-list-lists
                    li
                        a.expand.s(href="#")
                            h5 Kigali City
                    li
                        a.expand.s(href="#")
                            h5 Western Province
                    li
                        a.expand.s(href="#")
                            h5 Estern Province
                    li
                        a.expand.s(href="#")
                            h5 Northern Province
                    li
                        a.expand.s(href="#")
                            h5 Southern Province
                    li
                        a.expand.s(href="#")
                            h5 International
                        