html
  body
    h3 {{viewTitle}}
    form(action="/employee" method="POST" autocomplete="off")
      input(type="hidden" name="_id" value="{{employee._id}}")
      .form-group
        label Full Name
        input.form-control(type="text" name="fullName" placeholder="Full Name" value="{{employee.fullName}}")
        .text-danger
          | {{employee.fullNameError}}
      .form-group
        label Email
        input.form-control(type="text" name="email" placeholder="Email" value="{{employee.email}}")
        .text-danger
          | {{employee.emailError}}
      .form-group
        label Description
        input.form-control(type="text" name="description" placeholder="Full Name" value="{{employee.description}}")
      .form-row
        .form-group.col-md-6
          label Mobile
          input.form-control(type="text" name="mobile" placeholder="Mobile" value="{{employee.mobile}}")
        .form-group.col-md-6
          label City
          input.form-control(type="text" name="city" placeholder="City" value="{{employee.city}}")
      .form-group
        button.btn.btn-info(type="submit")
          i.fa.fa-database
          |  Submit
        a.btn.btn-secondary(href="/employee/list")
          i.fa.fa-list-alt
          |  View All